# API Configuration
EXPO_PUBLIC_API_URL=http://localhost:3000/api/v1
EXPO_PUBLIC_2FA_ENABLED=true

# Add other frontend env variables here. Use EXPO_PUBLIC_ prefix for them to be available in the React Native Expo app.
